name: Build SRS Rules

on:
  push:
    paths:
      - "rules/*.json"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get latest sing-box release version
        id: get_version
        run: |
          VERSION=$(curl -s https://api.github.com/repos/SagerNet/sing-box/releases/latest | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')
          echo "Latest sing-box version = $VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Install sing-box
        run: |
          VERSION="${{ steps.get_version.outputs.version }}"
          echo "Downloading sing-box version: $VERSION"
          wget "https://github.com/SagerNet/sing-box/releases/download/v1.13.0-alpha.27/sing-box-1.13.0-alpha.27-linux-amd64.tar.gz"
          tar -xvf "sing-box-$VERSION-linux-amd64.tar.gz"
          sudo mv sing-box*/sing-box /usr/local/bin/sing-box
          sing-box version

      - name: Build rule-set files
        run: |
          for f in rules/*.json; do
            filename=$(basename "$f")
            name="${filename%.*}"
            echo "Building rules/$name.srs ..."
            sing-box rule-set build "$f" -o "rules/$name.srs"
          done

      - name: Commit & Push generated SRS
        run: |
          git config --local user.email "github-actions@example.com"
          git config --local user.name "GitHub Actions"
          git add rules/*.srs || true
          git commit -m "Auto build SRS rules" || true
          git push || true
